*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  max-width: 960px;
  width: 90%;
  margin: auto;
}
ul{
  display: flex;
}
li{
  margin-right: 5px;
  list-style-type: none;
}
header, footer{
  margin: 20px 0;
}
.file-missing{
  color: red;
}
